<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% block contenu %}{% endblock %}
    </body>
    <footer>
        {% block footer %} <p> Mentions légales </p>{% endblock %}
    </footer>
</html>


