{% extends "layout.html.twig" %}
{% block contenu %}
    {% if unClient %}
        {% set idClient = unClient.getId() %}
    {% endif %}
    {% block recherche %}
        <form action="?c=GestionClient&a=chercheUn" method="post">
            {% include 'blocks/clientRecherche.html.twig' %}
            <input type="submit" value="Voir" class="btn btn-default"/>
        </form>
    {% endblock %}
    {% if unClient %}
        {% include 'blocks/singleClient.html.twig' %}
    {% else %}
    {% endif %}
{% endblock %}
{% block footer %}
    {{ parent () }}
    <div class="text-center"> Fin de l'affichage</div>
{% endblock %}